@model IEnumerable<Message>

@if ( ViewData["currentUserName"] != null)
{
    <a asp-controller="Messages" asp-action="New"><button>Add New Message</button></a>
}

<h2>Active Messages</h2>

<table class="table mt-5">
    <thead>
        <tr>
            <th scope="col">Content</th>
            <th scope="col">Expiration Date</th>
            <th scope="col">Created By</th>
        </tr>
    </thead>
    @foreach (var message in Model)
    {
        <tr>
            <td>@message.Content</td>
            <td>@message.ExpirationDate.ToShortDateString()</td>
            <td>@message.Author.Email</td>
        </tr>
    }
</table>
