<form method="post" action="/users/createsession">
    <div>
        <label for="Email">Email</label>
        <input type="text" id="Email" name="Email"/>
    </div>
    <div>
        <label for="Password">Password</label>
        <input type="text" id="Password" name="Password" />
    </div>

    <button type="submit">Log In</button>

</form>
