<form method="post" action="/users/register">
    <h2>Register New User</h2>
    <div>
        <label for="Name">Name</label>
        <input type="text" id="Name" name="Name"/>
    </div>
    <div>
        <label for="Email">Email</label>
        <input type="text" id="Email" name="Email" />
    </div>
    <div>
        <label for="Password">Password</label>
        <input type="text" id="Password" name="Password" />
    </div>

    <button type="submit">Register</button>
</form>